<%- include('../includes/head.ejs') %>
<% if (typeof(title) === 'undefined') { %>
<title> Title not found! </title>
<% } else { %>
<title> <%= title %> </title>
<% } %>
<!-- Above is navbar stuff -->


<section class="section">
    <div class="container is-max-desktop">

        <% for( let i = 0; i < dbData.length; i++ ) { %>
        <% if (dbData[i]) { %>
        <h1> <%= dbData[i].title %> </h1>
        <h3> <%= dbData[i].comment %> </h3>
        <br>
        <% } %>

        <% } %>
    </div>
</section>



<!-- Under is footer stuff -->
<%- include('../includes/footer.ejs') %>